<% layout('layout') -%>
<h1><%= title %></h1>
<% include templates/customer/details.ejs%>
<script type="application/javascript">
    $(document).ready(function () {
        ko.applyBindings(custVM());
    });

    var custVM = function () {
        this.customer_name = ko.observable(''),
        this.address = ko.observable(''),
        this.phone = ko.observable(''),
        this.save = function () {
            $.post('add', {name: this.customer_name(), address: this.address(), phone: this.phone()},
                    function (){
                        window.location='/customers';
                    });
        }
        return this;
    };
</script>