<% layout('layout') -%>
<h1>Add Customer</h1>
<form action="" method="post">
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" id="name"></input></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" id="address"></input></td>
    </tr>
    <tr>
        <td>phone</td>
        <td><input type="text" id="phone"></input></td>
    </tr>
</table>
<input type="submit" value="Save"></input>
</form>