<% layout('layout') -%>
<h1>Add Customer</h1>
<table id="customerTable">
    <tr>
        <td>Name</td>
        <td><input type="text" id="name" data-bind="value: name"></input></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" id="address" data-bind="value: address"></input></td>
    </tr>
    <tr>
        <td>phone</td>
        <td><input type="text" id="phone" data-bind="value: phone"></input></td>
    </tr>
    <tfoot>
    <tr>
        <td>
            <input type="button" value="Save" data-bind="click: save"/>
        </td>
    </tr>
    </tfoot>
</table>
<script type="application/javascript">
    var custVM = function(customer) {
        var self = this;
        self.name = customer ? ko.observable(customer.name) : '';
        self.address = customer ? ko.observable(customer.address) : '';
        self.phone = customer ? ko.observable(customer.phone) : '';
        self.save = function () {
            $.post('add', {name: this.name(), address: this.address(), phone: this.phone()});
        }
        return self;
    }();
    ko.applyBindings(custVM,$('customerTable')[0]);
</script>