<!-- views/partials/footer.ejs -->
<div class="navbar navbar-fixed-bottom" style="height: 10px; margin-bottom: -20px; background-color: #cccccc">
        <p class="text-center text-muted">© Copyright PetInfo - 2016</p>
</div>